{% load static %}
<html>
<head lang="en" dir="ltr">
<meta charset="utf-8">
<title>Deposite</title>
<link rel="stylesheet" href="{% static "stylesheets/style.css" %}"/>
</head>
<body bgcolor="blue">
<h1>Hello, Welcome This is Deposite page</h1>

<img src="{% static "images/Bank.avif" %}" width="150" height="150" alt="Image Not Found"/>

<h3>Please fill below application form</h3>

<form method="POST">
<table>
  {{form.as_p}}
</table>

  <br/>

  <input type="Submit" value="Deposite"/>
  {% csrf_token %}
</form>

</body>

</html>
